<md-card>
    <md-card-title>
        <div>Wo bin ich?</div>
    </md-card-title>
    <md-card-content>
        <sebm-google-map style="height: 350px;" [zoom]=0 (mapClick)="locationSelected($event)">
<sebm-google-map-marker *ngIf="selectedPosition" [latitude]="selectedPosition.lat" [longitude]="selectedPosition.lng">
</sebm-google-map-marker>
</sebm-google-map>

</md-card-content>
<md-card-actions>
    <button *ngIf="selectedPosition" md-fab (click)="confirmSelection()"><md-icon>check circle</md-icon></button>
</md-card-actions>
</md-card>
